body{
  font-size: 14px;

    font-family: "Open Sans",sans-serif;
    background-color: #f5f5f5;
  
}


/** [+]  TOP BAR HEADER **/

  .top-bar {
      background-color: #9e1f63;
      color: #ffffff;
      padding: 5px 0px;
  }

  .inline-list{
    margin-bottom: 0px;
    padding-left: 0px;
  }

  .inline-list li{
      display: inline-block;
      vertical-align: top;
  }

  .inline-list li.divider {
      content: " | ";
      padding: 0px 10px;
      color: rgb(255, 255, 255);

  }

  .inline-list li a{
    color: #ffffff;
    font-size: 14px;
  }

/** [-]  TOP BAR HEADER **/


/** [+]  SUB HEADER **/

  .header-bar{
    background-image: linear-gradient(-180deg,#b52270,#9e1f63);
    /*background-color: #9e1f63;*/
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    color: #ffffff;
    padding: 7px 0px;
    min-height: 55px;
  }

  .header-search-box-group {
      background-color: rgb(255, 255, 255);
      padding: 1px;
      border-radius: 3px;
  }
  header #header_content #btn-search {
      position: relative;
      z-index: 2;
      background-color: rgb(158, 29, 94);
      color: rgb(255, 255, 255);
  }
  .header-search-box-group .search-box-button {
      background-color: rgb(158, 31, 99);
      font-size: 10px;
      color: rgb(255, 255, 255);
      padding: 5px 25px;
      border-radius: 0px;
  }

  .header-search-box-group .search-box-input, .header-search-box-group .search-box-button {
      height: 25px;
      font-size: 14px;
      box-shadow: none;
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
  }
  .header-search-box-group .search-box-input, .header-search-box-group .search-box-button {
      height: 25px;
      width: 100% !important;
      border: 0px;
      box-shadow: none;
  }

  .header-search-box-group .input-group-btn{
    position: absolute;
    right: 3px;
  }
  
  .navbar__link-icon.icon-shopping-cart-2 {
      fill: #fff;
      stroke: #fff;
      width: 26px;
      height: 26px;
      cursor: pointer;
  }

  svg:not(:root) {
      overflow: hidden;
  }

  svg:not(:root) {
      overflow: hidden;
  }

  .henato-svg-icon {
      display: inline-block;
      width: 15px;
      height: 15px;
      fill: currentColor;
      position: relative;
  }

  .sub-header-title{
    background-color: #b52270;
    color:#ffffff;
  }
  .sub-header-title .title-text{
    background-color: #b52270;
    color:#ffffff;
    padding:10px 10px; 
  }

  .sub-header-title .title-text i{
    font-size: 30px;
  }  
  .sub-header-title .title-text a{
    color:#ffffff;
  }

/** [-]  SUB HEADER **/


/** [+]  CAROUSEL STYLE **/

  .carousel-indicators {
      bottom: 0px;
  }

  .carousel .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid #9e1f63;
    background-color: #ffffff;
  }
  .carousel .carousel-indicators li.active{
    border: 1px solid #9e1f63;
    background-color: #9e1f63;
  }

/** [-]  CAROUSEL STYLE **/



/** [+]  HOME CATEGORY LIST STYLE **/
  .category-image-carousel__item-list-wrapper {
    overflow-x: hidden; }

   .category-image-carousel__item-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      padding: 0;
      margin: 0; }
    .category-image-carousel__item-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      padding: 0;
      margin: 0; }
    .category-image-carousel__item {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      overflow-x: hidden;
      list-style: none;
      float: left; }
      .category-image-carousel__item--fluid {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
           -moz-box-flex: 0;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto;
        overflow-x: visible; }
      .category-image-carousel__item img, .category-image-carousel__item a {
        -webkit-user-drag: none; }    
  .home-category-list .category-image-carousel__item-list {
    padding: 5px;
    padding: .5rem;
    margin-left: -5px;
    margin-left: -0.5rem; }

  .home-category-list .category-image-carousel__item {
    overflow-x: unset !important; }

  .home-category-list__group {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box; }

  .home-category-list__category-grid {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    display: block;
    border-right: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    text-align: center;
    background-color: white;
    display: block;
    position: relative;
    transition: box-shadow cubic-bezier(0.4, 0, 0.6, 1) 0.1s, -webkit-transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s;
    transition: transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s, box-shadow cubic-bezier(0.4, 0, 0.6, 1) 0.1s;
    transition: transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s, box-shadow cubic-bezier(0.4, 0, 0.6, 1) 0.1s, -webkit-transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s; }
    .home-category-list__category-grid:hover {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      z-index: 1;
      border-color: rgba(0, 0, 0, .12);
      box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, .05); }
    .home-category-list__category-grid::before {
      content: "";
      display: block;
      padding-top: 126%;
      /* trick to make height ratio depends on width */ }

  .home-category-list__category-grid--empty {
    margin-top: 0; }
    .home-category-list__category-grid--empty:hover {
      box-shadow: unset;
      border-color: rgba(0, 0, 0, .05); }

  .home-category-list__category-grid-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .home-category-list__category-grid-thumbnail {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 70%;
    margin: 10%; }

  .home-category-list__category-grid-name {
    color: rgba(0, 0, 0, .8);
    font-size: 14px;
    text-decoration: none;
    line-height: 18px;
    max-width: 90%;
    overflow: hidden;
    max-height: 40px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50px;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50px;
            flex: 0 1 50px;
    -webkit-flex: 0 1 5rem;
        -ms-flex: 0 1 5rem;
            flex: 0 1 5rem;
    margin-bottom: 10px;
     }

    .lazy-image__container {
    position: relative; }

  .lazy-image__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

  .lazy-image__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat no-repeat; }

  .category-header-section--simple > .category-header-section__header {
    padding-left: 5px;
    padding-left: .5rem; }
    .category-header-section--simple > .category-header-section__header::before {
      content: none; }

  .category-header-section--simple .category-header-section__header__title {
    font-size: 20px;
    color: #9e1f63;
    font-weight: 600; 
  }

  .category-header-section__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 5px 0;
    padding: 0 0 0.5rem 0; }
    .category-header-section__header::before {
      content: '';
      width: 10px;
      width: 1rem;
      height: 24px;
      height: 2.4rem;
      margin-right: 5px;
      margin-right: 0.5rem;
      background-color: #ff5722; }
    .category-header-section__header__title {
      font-size: 20px;
      font-size: 2rem;
      text-transform: uppercase;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
         -moz-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 20px;
      margin-right: 2rem; }
    .category-header-section__header-link {
      text-decoration: none;
      color: rgba(0, 0, 0, .8);
      display: block; }
    .category-header-section__header .category-button-outline {
      height: 30px;
      height: 3rem;
      border-radius: 1.5rem;
      background-color: white;
      color: #ff5722;
      border-color: rgba(0, 0, 0, .09); }
    .category-header-section__header .category-button-outline--rounded {
      background-color: white; }
    .category-header-section__header .category-button-no-outline {
      color: #ff5722; }
    .category-header-section__header .category-button-outline--rounded, .category-header-section__header .category-button-no-outline {
      text-transform: capitalize;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .category-header-section__header .category-button-outline--rounded .icon-arrow-right, .category-header-section__header .category-button-no-outline .icon-arrow-right {
        font-size: 10px;
        font-size: 1rem; }
    .category-header-section__header a {
      text-decoration: none !important;
      color: #ff5722; }


      .grid-list-wrapper {
    overflow: auto; }

  .grid-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }

  .brand-grid-header__see-all > .stardust-icon-arrow-right-bold {
    margin-left: 2px; }

  .brand-grid-header {
    padding: 12px 10px 8px 12px;
    padding: 0.75rem 0.625rem 0.5rem 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .brand-grid-header__title {
      text-transform: uppercase;
      color: rgba(0, 0, 0, .54);
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }

  .brand-grid {
    background: white;
    position: relative; }
    .grid-cell {
    text-decoration: none;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .grid-cell__title {
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      color: rgba(0, 0, 0, .87);
      height: 40px;
      line-height: 20px;
      padding: 0 8px;
      width: 100%;
      text-align: center;
      position: relative;
      top: -5px; }

/** [-]  HOME CATEGORY LIST STYLE **/


/** [+]  PRODUCT GRID STYLE **/
  
  .product-grid-item-group{
    background-color: #ffffff;
    box-sizing: border-box;
  }

  .product-grid-item-group a{
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    display: block;
    border-right: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: white;
    display: block;
    position: relative;
    transition: box-shadow cubic-bezier(0.4, 0, 0.6, 1) 0.1s, -webkit-transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s;
    transition: transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s, box-shadow cubic-bezier(0.4, 0, 0.6, 1) 0.1s;
    transition: transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s, box-shadow cubic-bezier(0.4, 0, 0.6, 1) 0.1s, -webkit-transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s;
  }

  .product-grid-item-group a:hover{
    text-decoration: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 1;
    border-color: rgba(0, 0, 0, .12);
    box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, .05);
  }    
 
  .product-grid-item-group .product-details-container{
    padding: 10px;
    color: #333333;
    font-size: 14px;
    
  }

  .product-grid-item-group .product-details-container .product-price{
    color: #9e1f63;
  }
  .product-grid-item-group .product-details-container .product-price .regular-price, .product-grid-item-group .product-details-container .product-price .sale-price{
    color: #9e1f63;
  }  
  .product-grid-item-group .product-details-container .product-price .regular-price.stroke{
    color: #999999;
    text-decoration: line-through;
    padding-right: 5px;
  }    

  @media only screen and (max-width: 500px) {
    .product-grid-item-group{
      margin-bottom: 10px;
    }
  }
/** [-]  PRODUCT GRID STYLE **/


/** [+]  BRANDS STYLE **/
  .brands-grid-item-group a{
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    display: block;
    border-right: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: white;
    display: block;
    position: relative;
    transition: box-shadow cubic-bezier(0.4, 0, 0.6, 1) 0.1s, -webkit-transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s;
    transition: transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s, box-shadow cubic-bezier(0.4, 0, 0.6, 1) 0.1s;
    transition: transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s, box-shadow cubic-bezier(0.4, 0, 0.6, 1) 0.1s, -webkit-transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s;
  }

  .brands-grid-item-group a:hover{
    text-decoration: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 1;
    border-color: rgba(0, 0, 0, .12);
    box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, .05);
  }    
  .featured-brands-slider .slick-prev, .featured-brands-slider .slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 35%;
  }
/** [-]  BRANDS STYLE **/



/** [+]  CATEGORY PAGE STYLE **/
  .category-list{
    list-style: none;
    padding-left: 15px;
  }
  .category-list li{
    font-size: 15px;
    font-weight: 600; 
    line-height: 28px;
  } 
  .category-list li a{
    color: #666666;
  } 
  .category-list li a:hover,.category-list li a.active{
    color: #9e1f63;
    text-decoration: none;
  }    

  .product-list .product-grid-item-group{
    margin-bottom: 20px;
  }

/** [-]  CATEGORY PAGE STYLE **/


/** [+]  PRODUCT PAGE STYLE **/

  .product-details-container ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
  .product-details-container li.active{border-bottom:3px solid silver;}

  .product-details-container .item-photo{/*display:flex;justify-content:center;*/align-items:center;border-right:1px solid #f6f6f6;}
  .product-details-container .menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}
  .product-details-container .btn-success{width:100%;border-radius:0;}
  .product-details-container .section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
  .product-details-container .title-price{margin-top:30px;margin-bottom:0;color:black}
  .product-details-container .title-attr{margin-top:0;margin-bottom:0;color:black;}
  .product-details-container .btn-minus{cursor:pointer;font-size:14px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
  .product-details-container .btn-plus{cursor:pointer;font-size:14px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
  .product-details-container div.section > div {width:100%;display:inline-flex;}
  .product-details-container div.section > div > input {margin:0;padding-left:5px;font-size:14px;padding-right:5px;max-width:18%;text-align:center;}
  .product-details-container .attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
  .product-details-container .attr.active,.attr2.active{ border:1px solid orange;}

  @media (max-width: 426px) {
      .product-details-container .container {margin-top:0px !important;}
      .product-details-container .container > .row{padding:0 !important;}
      .product-details-container .container > .row > .col-xs-12.col-sm-5{
          padding-right:0 ;    
      }
      .product-details-container .container > .row > .col-xs-12.col-sm-9 > div > p{
          padding-left:0 !important;
          padding-right:0 !important;
      }
      .product-details-container .container > .row > .col-xs-12.col-sm-9 > div > ul{
          padding-left:10px !important;
          
      }            
      .product-details-container .section{width:104%;}
      .product-details-container .menu-items{padding-left:0;}
  }


  .product-details-container .tab-content>.active {
      display: block;
      background-color: #ffffff;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc !important;
      padding: 20px;
      border-color: #dee2e6 #dee2e6 #fff;
  }

  .product-details-container .product-gallery-image{
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
  }
  
  .product-details-container .product-gallery-image li{
      display: inline;
      margin-right: 0px;
      padding: 10px;

  }

  h3 .regular-price,h3 .sale-price, h2 .regular-price,h2 .sale-price{
    color: #9e1f63;
  }

  h3 .regular-price.stroke,h3 .sale-price.stroke{
    text-decoration: line-through;
    color: #999999;
  }
  
  h2 .regular-price.stroke,h2 .sale-price.stroke{
    text-decoration: line-through;
    color: #999999;
  }





/** [-]  PRODUCT PAGE STYLE **/




/** [+]  REGISTRATION AND LOGIN PAGE STYLE **/
  .panel-login {
      border-color: #ccc;
      background-color: #ffffff;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
      padding-top:20px;
      padding-bottom: 20px
  }
  .panel-login > .panel-heading {
      background-color: #fff;
      border-color: #fff;
      color: #00415d;
      text-align: center;
      padding-top:10px;
      padding-bottom: 20px; 
      border-bottom: 1px solid #ccc;
      font-size: 18px;
      color: #9e1f63;
      font-weight: 600;

  }

  .panel-login > .panel-heading a.active {
      color: #029f5b;
      font-size: 18px;
  }
  .panel-login > .panel-heading a {
      color: #666;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.1s linear 0s;
  }
  .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
      border: 1px solid #ddd;
      font-size: 16px;
      height: 45px;
      transition: all 0.1s linear 0s;
  }
  .btn-login, .btn-reg {
      background-color: #7bae23;
      border-color: #59b2e6;
      color: #fff;
      font-size: 14px;
      font-weight: normal;
      height: auto;
      outline: medium none;
      padding: 14px 0;
      text-transform: uppercase;
  }

  .forgot-password, .register-new-user {
      color: #888;
      text-decoration: underline;
  }
  .form-control-feedback {
      display: block;
      height: 34px;
      line-height: 42px;
      pointer-events: none;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 34px !important;
      z-index: 2;
      color:#777;
  }
  .has-feedback
  {
    position: relative;
  }

  .account-tab-main, .user-content-main
  {
    background-color: #ffffff;
  }

  .user-content-main{
      padding:0px 30px;
  }

/** [-]  REGISTRATION AND LOGIN PAGE STYLE **/

/** [+]  SHOPPING CART PAGE  STYLE **/
  .shopping-cart-container .table>tbody>tr>td, .table>tfoot>tr>td{
      vertical-align: middle;
  }

  .shopping-cart-container .regular-price,.shopping-cart-container .sale-price, .shopping-cart-container .regular-price,.shopping-cart-container .sale-price{
    color: #9e1f63;
  }

  .shopping-cart-container .regular-price.stroke,.shopping-cart-container .sale-price.stroke{
    text-decoration: line-through;
    color: #999999;
  }
  
  .shopping-cart-container .regular-price.stroke,.shopping-cart-container .sale-price.stroke{
    text-decoration: line-through;
    color: #999999;
  }

  @media screen and (max-width: 600px) {
    .shopping-cart-container table#cart tbody td .form-control{
      width:20%;
      display: inline !important;
    }
    .shopping-cart-container .actions .btn{
      width:36%;
      margin:1.5em 0;
    }
    
    .shopping-cart-container .actions .btn-info{
      float:left;
    }
    .shopping-cart-container .actions .btn-danger{
      float:right;
    }
    
    .shopping-cart-container table#cart thead { display: none; }
    .shopping-cart-container table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    .shopping-cart-container table#cart tbody tr td:first-child { background: #333; color: #fff; }
    .shopping-cart-container table#cart tbody td:before {
      content: attr(data-th); font-weight: bold;
      display: inline-block; width: 8rem;
    }

    .shopping-cart-container table#cart tfoot td{display:block; }
    .shopping-cart-container table#cart tfoot td .btn{display:block;}
    
  }

/** [-]  SHOPPING CART PAGE  STYLE **/


/** [+]  CHECKOUT PAGE  STYLE **/

  .checkout-container .form-group{
      margin-bottom: 10px;
  }

  .checkout-container .progress{
    height:25px;
  }

  .checkout-container .payment-method-box{
    background-color: #ffffff;
    padding: 20px;
  }
  
  .checkout-container .cart-box{
    border: 1px solid #cccccc;
    background-color: #ffffff;    
    padding: 30px 20px;
  }

  .checkout-container .payment-method-box .info-box{
    border: 1px solid #cccccc;
    padding: 20px;
  }
/** [-]  CHECKOUT PAGE  STYLE **/



/** [+]  FOOTER STYLE **/
  footer{
    margin-top: 20px;
    background: #171717 none repeat scroll 0 0;
    padding: 20px;
    color: #ffffff;
  }
/** [-]  FOOTER STYLE **/


.footer-toolbar{
  background-color: #b52270;
  padding: 5px;
}


.scrollable-container{
    top: 0px;
    width: 95%;
    min-height: 250px;
    overflow-x: auto;
    white-space: nowrap;
}

.scrollable-container .item-container {
    width: 195px;
    min-height: 245px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding-right: 10px;
    white-space: normal;
}

.scrollable-brands-container{
  background-color: #ffffff;
    top: 0px;
    width: 100%;
    min-height: 100px;
    overflow-x: auto;
    white-space: nowrap;
}

.scrollable-brands-container .item-container {
    width: 181px;
    min-height: 100px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding-right: 10px;
    white-space: normal;
}
